{% extends 'panel.html' %}
{% block body %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update-/{{usuario.0}}" method="POST" >
            <div class="mb-3 form-group">
                <input type="text" name="names"     placeholder="Nombres" value="{{usuario.1}}"  class="form-control" required>
            </div>
            <div class="mb-3 form-group">
                <input type="text" name="apellidos"     placeholder="Apellidos" value="{{usuario.2}}"   class="form-control" required>
            </div>
            <div class="mb-3 form-group">
                <input type="text" name="usuario"     placeholder="usuario" value="{{usuario.3}}" class="form-control" required>
            </div>
            <div class="mb-5 form-group">
                <input type="password" name="contraseña"    placeholder="contraseña" value="{{usuario.4}}" class="form-control" required>
            </div>
            <div class="mb-5 form-group">
               <select name="id_rol" class="form-control">
                <option value="{{usuario.5}}">Rol</option>
                <option value="{{usuario.5}}">Administrador</option>
                <option value="{{usuario.5}}">Empleado</option>
                <option value="{{usuario.5}}">Secretaria</option>
               </select>
            </div>
            <div class="mb-3 form-group d-grid gap-2">
                <button type="submit" class="btn btn-success btn-block"> Guardar </button>
            </div>
        </form>
    </div>
    
</div>


{% endblock %}